<h1>Web Applications</h1>
<p>Sinatra applications (like this ePortfolio!) that use various technologies like Nokogiri, Rack, Heroku, etc.</p>
<div class="siteSamples">
    <table>
        <tr>
            <td><a href="http://dtn-markets.herokuapp.com/" title="U.S. Markets" target="_blank"><img src="images/usMarketsShot_500.jpg" width="500" height="329" /></a></td>
        </tr>
        <tr>
            <td>U.S. Markets</td>
        </tr>
        <tr>
            <td><a href="http://miles-km-miles.herokuapp.com" title="Miles to KM to Miles" target="_blank"><img src="images/milesKmShot_500.jpg" width="500" height="329" /></a></td>
        </tr>
        <tr>
            <td>Miles to KM to Miles</td>
        </tr>
    </table>
</div>