<div class="slideshow">
    <a href="/sites"><img src="/images/sites.png" width="700" height="600" /></a>
    <a href="apps"><img src="/images/web_apps.png" width="700" height="600" /></a>
    <a href="graphics"><img src="/images/graphics.png" width="700" height="600" /></a>
</div>
