<!DOCTYPE html>
<html>
<head>
  <title>Todd Nichols - ePortfolio: Omaha, NE</title>
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="/stylesheets/ePortfolio_IE.css" media="all">
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/ePortfolio.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $('.slideshow').cycle({
        fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
    });
  });
  </script>
</head>
<body>
  <div class="nav">
    <div class="title">
      Todd Nichols
    </div>
    <div class="subtitle">
      ePortfolio
    </div>
    <div class="nav_image">
      <img src="images/selfPoster_200.png" width="200" height="133" alt="Self Image" />
    </div>
    <ul id="accordion">
      <li><a href="/">Home</a></li>
      <li><a href="skills">Tech Skills</a></li>
      <li><div><img src="images/three_lines.png" width="25" height="25" alt="Three Lines Image" /><a href="sites">Websites</a></div>
        <ul>
          <li><a href="http://mutchie.omahaareaman.com/" target="_blank">Mutchie Tree Service</a></li>
          <li><a href="http://kgb.omahaareaman.com/" target="_blank">KGB</a></li>
          <li><a href="http://www.conceptelectricco.com/" target="_blank">Concept</a></li>
          <li><a href="http://www.scratchtownbrewing.com/" target="_blank">Scratchtown</a></li>
        </ul>
      </li>
      <li><div><img src="images/three_lines.png" width="25" height="25" alt="Three Lines Image" /><a href="apps">Ruby Apps</a></div>
        <ul>
          <li><a href="http://miles-km-miles.herokuapp.com" target="_blank">Miles/KM</a></li>
          <li><a href="http://dtn-markets.herokuapp.com/" target="_blank">DTN Markets</a></li>
          <li><a href="http://dtn-weather.herokuapp.com/" target="_blank">DTN Weather</a></li>
        </ul>
      </li>
      <li><a href="https://github.com/nivram80" target="_blank">GitHub</a></li>
      <li><a href="graphics">Graphics</a></li>
      <li><a href="http://www.exploringomaha.com/" target="_blank">Blog</a></li>
      <li><a href="mailto:portfolio@omahaareaman.com">Contact</a></li>
    </ul>
  </div>
  <div class="content">

    <%= yield %>

  </div>
<div class="footer">
  <div class="copy">
    Copyright &copy;&nbsp;2013 Todd Nichols
  </div>
    <a href="https://plus.google.com/u/0/102245935826543420175/posts" target="_blank"><img src="images/google-plus.png" alt="Google Plus Image" title="Google+" width="32" height="32" /></a>
    <a href="http://www.linkedin.com/profile/view?id=13978451&trk=tab_pro" target="_blank"><img src="images/linkedin.png" alt="LinkedIn Image" title="LinkedIn" width="32" height="32" /></a>
    <a href="https://github.com/nivram80" target="_blank" target="_blank"><img src="images/github.png" alt="Github Image" title="Github" width="32" height="32" /></a>
    <a href="mailto:portfolio@omahaareaman.com" target="_blank"><img src="images/envelope.png" alt="Email Image" title="Email Todd" width="32" height="32" /></a>
</div>
<script type="text/javascript" src="/javascripts/eportfolio.js"></script>
</body>
</html>