<h1>From Scratch Sites</h1>
<p>Coded by hand using HTML, CSS, JavaScript, jQuery, and Photoshop.</p>
<div class="siteSamples">
    <table>
        <tr>
            <td><a href="http://kgb.omahaareaman.com" title="KGB Grain" target="_blank"><img src="images/kgbScreenShot_275.jpg" width="275" height="200" /></a></td>
            <td><a href="http://www.conceptelectricco.com" title="Concept Electric" target="_blank"><img src="images/conceptScreenShot_275.jpg" width="275" height="200" /></a></td>
            <td><a href="http://www.scratchtownbrewing.com" title="Scratchtown Brewing Company" target="_blank"><img src="images/scratchScreenShot_275.jpg" width="275" height="200" /></a></td>
        </tr>
        <tr>
            <td>Fictional KGB Grain Site</td>
            <td>Concept Electric</td>
            <td>Scratchtown Brewing Company</td>
        </tr>
    </table>
</div>
<h1>Content Management System (CMS) Sites</h1>
<p>Developed on a CMS with HTML, CSS, and JavaScript added to stylize and add features unavailable in the CMS.</p>
<div class="siteSamples">
    <table>
        <tr>
            <td><a href="http://www.newhorizonfarms.com" title="New Horizon Farms" target="_blank"><img src="images/newhorizonScreenShot_275.jpg" width="275" height="200" /></a></td>
            <td><a href="http://www.nationalblackgrowerscouncil.com" title="National Black Growers Council" target="_blank"><img src="images/nbgcScreenShot_275.jpg" width="275" height="200" /></a></td>
            <td><a href="http://www.tateandlylegrain.com" title="Tate & Lyle Grain" target="_blank"><img src="images/tateScreenShot_275.jpg" width="275" height="200" /></a></td>
        </tr>
        <tr>
            <td>New Horizon Farms</td>
            <td>National Black Growers Council</td>
            <td>Tate & Lyle Grain</td>
        </tr>
    </table>
</div>