<h1>Technical Skills</h1>
<div class="column_one">
		<table class="skills">
			<thead>
				<tr>
					<th colspan="2">Major Skills</th>
				</tr>
				<tr>
					<td colspan="2"><img src="images/skills_major.png" width="230" height="20" alt="Full Meter Image" title="Expert" /></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>HTML</td>
					<td>CSS</td>
				</tr>
				<tr>
					<td>Photoshop</td>
					<td>DNS &amp; Hosting</td>
				</tr>
				<tr>
					<td>Mac OS</td>
					<td>Windows OS</td>
				</tr>
				<tr>
					<td>Microsoft Office</td>
					<td>POP email</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th colspan="2">Under Development</th>
				</tr>
				<tr>
					<td colspan="2"><img src="images/skills_underdev.png" width="230" height="20" alt="Partial Meter Image" title="Novice" /></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Ruby on Rails</td>
					<td>HTML 5</td>
				</tr>
			</tbody>
		</table>
</div> <!-- closing column_one div -->
<div class="column_two">
		<table class="skills">
			<thead>
				<tr>
					<th colspan="2">Other Skills</th>
				</tr>
				<tr>
					<td colspan="2"><img src="images/skills_other.png" width="230" height="20" alt="Intermediate Meter Image" title="Intermediate" /></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>JavaScript</td>
					<td>jQuery</td>
				</tr>
				<tr>
					<td>Ruby</td>
					<td>CSS 3</td>
				</tr>
				<tr>
					<td>GitHub</td>
					<td>Git</td>
				</tr>
				<tr>
					<td>Sinatra</td>
					<td>Rack</td>
				</tr>
				<tr>
					<td>Heroku</td>
					<td>Nokogiri</td>
				</tr>
				<tr>
					<td>MongoDB</td>
					<td>Responsive Design</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th colspan="2">Planning Stages</th>
				</tr>
				<tr>
					<td colspan="2"><img src="images/skills_planning.png" width="230" height="20" alt="Empty Meter Image" title="You just wait!" /></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Objective-C</td>
					<td>AngularJS</td>
				</tr>
				<tr>
					<td>Postgres</td>
					<td>SASS</td>
				</tr>
			</tbody>
		</table>
</div> <!-- closing column_two div -->